<div class="container-fluid">
  <h1 class="title">Магазин "{{storeName}}"</h1>

  <table class="table table-striped table-bordered app-table">
    <tr>
      <th>#</th>
      <th>Товар</th>
      <th>Описание</th>
    </tr>
    <tr ng-repeat="product in products">
      <td>{{$index + 1}}</td>
      <td>{{product.name}}</td>
      <td class="row">
        <div class="col-xs-8 col-md-10">{{product.descr}}</div>
        <div class="col-xs-4 col-md-2">
          <div class="actions">
              <a class="actions__item actions__item--edit" href="" ng-click="editProduct($index)"></a>
              <a class="actions__item actions__item--delete" href="" ng-click="deleteProduct($index)"></a>
          </div>
        </div>
      </td>
    </tr>
  </table>

  <form class="form-horizontal app-form">
    <div class="form-group">
      <label for="inputProductName" class="col-sm-4 control-label">Наименование товара</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="inputProductName" placeholder="Наименование товара" ng-model="productName">
      </div>
    </div>
    <div class="form-group">
      <label for="productDescr" class="col-sm-4 control-label">Описание товара</label>
      <div class="col-sm-8">
        <textarea rows="10" id="productDescr" ng-model="productDescr"></textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-2">
        <button class="btn btn-default" ng-click="addNewProduct()" ng-hide="currentProductNumber > -1">Добавить</button>
      </div>
      <div class="col-sm-2">
        <button class="btn btn-default" ng-click="saveProduct()" ng-show="currentProductNumber > -1">Сохранить</button>
      </div>
    </div>
  </form>
</div>
