.mainContainer {
  max-width: 1024px;
  margin: 0 auto;
  padding: 20px 0;
}

.title {
  font-size: 26px;
  font-weight: 300;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
}

.app-table {
  margin-bottom: 20px;
}

.table.app-table td {
  vertical-align: middle;
}

.table.app-table td div[class^='col-md-'], .table.app-table td div[class^='col-xs-']{
  padding: 0;
  margin: 0;
}

.stores__name {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.05em;
}

.stores__text-bold {
  font-weight: 600;
}

.app-form {
  max-width: 400px;
  margin: 0 auto;
  border: 1px dashed #666;
  padding: 20px;
}

.app-form textarea {
  width:100%;
}

.actions {
  display: inline-block;
  margin-left: 10px;
  padding-right: 10px;
  width: 94%;
  text-align: right;
}

.actions__item {
  display: inline-block;
  text-decoration: none;
  width:30px;
  height: 30px;
  border: 1px solid #eee;
}

.actions__item:last-child {
  margin-right: 0;
}

.actions__item:hover {
  background-color: #fff;
}

.actions__item--edit {
  background: #eee url("img/icons/icon-edit.svg") no-repeat 50% 50%;
  background-size: 15px;
}

.actions__item--delete {
  background: #eee url("img/icons/icon-delete.svg") no-repeat 50% 50%;
  background-size: 15px;
}
