<div class = "container-fluid">
  <h1 class="title">Магазины</h1>

  <table class="table table-hover app-table">
    <tr ng-repeat = "store in stores">
      <td>{{$index + 1}}</td>
      <td class="stores__name">{{store.name}}</td>
      <td>
        <div>
          <span class="stores__text-bold">Адрес: </span>
          {{store.address}}
        </div>
        <div>
          <span class="stores__text-bold">Режим работы: </span>
          {{store.workMode}}
        </div>
        <a href="#!/stores/{{store.storeId}}">Товары</a></td>
      <td>
        <div class="actions">
          <a class="actions__item actions__item--edit" href="" ng-click="editStore($index)"></a>
          <a class="actions__item actions__item--delete" href="" ng-click="deleteStore($index)"></a>
        </div>
      </td>
    </tr>
  </table>

  <button type="button" class="btn btn-default" ng-click="showForm()" ng-show="isShowForm == 0">+ Add Store</button>

  <form class="form-horizontal app-form" ng-show = "isShowForm > 0">
    <div class="form-group">
      <label for="inputStoreName" class="col-md-5 control-label">Название магазина</label>
      <div class="col-md-7">
        <input type="text" class="form-control" id="inputStoreName" placeholder="Название магазина" ng-model="name">
      </div>
    </div>
    <div class="form-group">
      <label for="inputStoreAddress" class="col-md-7 control-label">Адрес магазина</label>
      <div class="col-md-5">
        <input type="text" class="form-control" id="inputStoreAddress" placeholder="Адрес" ng-model="address">
      </div>
    </div>
    <div class="form-group">
      <label for="inputStoreWorkMode" class=" col-md-5 control-label">Режим работы</label>
      <div class=" col-md-7">
        <input type="text" class="form-control" id="inputStoreWorkMode" placeholder="Режим работы" ng-model="workMode">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-2">
        <button class="btn btn-primary" ng-click="addNewStore()" ng-hide="currentStoreNumber > -1">Добавить магазин</button>
      </div>
      <div class="col-sm-2">
        <button class="btn btn-primary" ng-click="saveStore()" ng-show="currentStoreNumber > -1">Сохранить</button>
      </div>
    </div>
  </form>
</div>
